// Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Fontawesome

$mdi-font-path: "../fonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$fa-font-path: "../fonts";
@import "../node_modules/@mdi/font/scss/materialdesignicons.scss";
//Custom

body {
    @extend body;
    min-width: 320px;
}

figure[data-fullscreen="true"] video::-webkit-media-controls {
    display: none !important;
}

figure[data-fullscreen="true"] .controls {
    z-index: 2147483647;
}

button {
    cursor: pointer;
    position: relative;
    margin-right: 7px;
    font-size: 12px;
    padding: 3px;
    border: none;
    outline: none;
    background-color: transparent;
}
